<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <!--<script src="/static/stat.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/static/mgnt.css">
</head>
<body onLoad="onload()">
    <div class="content">
        <p><a href="/comment/">Оставить комментарий</a>&nbsp;<a href="/view/">Просмотр комментариев</a>&nbsp;<a href="/stat/">Статистика</a> </p>
        <table id="viewtable">
            <thead>
                <tr><td>Регион/Город</td><td>Комментарии</td></tr>
            </thead>
            <tbody>
                {tbody}
            </tbody>
        </table>
    </div>
</body>
</html>