<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр комментариев</title>
    <script src="/static/view.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/mgnt.css">
</head>
<body onLoad="onload()">
    <div class="content">
        <p><a href="/comment/">Оставить комментарий</a>&nbsp;<a href="/view/">Просмотр комментариев</a>&nbsp;<a href="/stat/">Статистика</a> </p>
        <table id="viewtable">
            <thead>
                <tr><td>id</td><td>Фамилия</td><td>Имя</td><td>Отчество</td><td>Город</td><td>Телефон</td><td>email</td><td>Комментарий</td><td>Удалить</td></tr>
            </thead>
        </table>
    </div>
</body>
</html>